* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
}

body {
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box {
    width: 450px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 15px;
    background-color: orange;
}
h1{
    font-size: 60px
}